/* LANDING CSS/////////////////////////// */
.header {
  display: flex;
  width: 100%;
}

.header h1 {
  flex-grow: 1;
}

.content {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 871px;
  background-image: url(./assets/bg1.jpg);
  background-size: cover;
}

.landing {
  background-image: url();
  background-size: cover;
}